.m-1 {
  margin: 1%;
}

.ml-1 {
  margin-left: 1%;
}

.mr-1 {
  margin-right: 1%;
}

.mt-1 {
  margin-top: 1%;
}

.mb-1 {
  margin-bottom: 1%;
}

.p-1 {
  padding: 1%;
}

.pl-1 {
  padding-left: 1%;
}

.pr-1 {
  padding-right: 1%;
}

.pt-1 {
  padding-top: 1%;
}

.pb-1 {
  padding-bottom: 1%;
}

.m-2 {
  margin: 2%;
}

.ml-2 {
  margin-left: 2%;
}

.mr-2 {
  margin-right: 2%;
}

.mt-2 {
  margin-top: 2%;
}

.mb-2 {
  margin-bottom: 2%;
}

.p-2 {
  padding: 2%;
}

.pl-2 {
  padding-left: 2%;
}

.pr-2 {
  padding-right: 2%;
}

.pt-2 {
  padding-top: 2%;
}

.pb-2 {
  padding-bottom: 2%;
}

.m-3 {
  margin: 3%;
}

.ml-3 {
  margin-left: 3%;
}

.mr-3 {
  margin-right: 3%;
}

.mt-3 {
  margin-top: 3%;
}

.mb-3 {
  margin-bottom: 3%;
}

.p-3 {
  padding: 3%;
}

.pl-3 {
  padding-left: 3%;
}

.pr-3 {
  padding-right: 3%;
}

.pt-3 {
  padding-top: 3%;
}

.pb-3 {
  padding-bottom: 3%;
}

.m-4 {
  margin: 4%;
}

.ml-4 {
  margin-left: 4%;
}

.mr-4 {
  margin-right: 4%;
}

.mt-4 {
  margin-top: 4%;
}

.mb-4 {
  margin-bottom: 4%;
}

.p-4 {
  padding: 4%;
}

.pl-4 {
  padding-left: 4%;
}

.pr-4 {
  padding-right: 4%;
}

.pt-4 {
  padding-top: 4%;
}

.pb-4 {
  padding-bottom: 4%;
}

.m-5 {
  margin: 5%;
}

.ml-5 {
  margin-left: 5%;
}

.mr-5 {
  margin-right: 5%;
}

.mt-5 {
  margin-top: 5%;
}

.mb-5 {
  margin-bottom: 5%;
}

.p-5 {
  padding: 5%;
}

.pl-5 {
  padding-left: 5%;
}

.pr-5 {
  padding-right: 5%;
}

.pt-5 {
  padding-top: 5%;
}

.pb-5 {
  padding-bottom: 5%;
}

.m-6 {
  margin: 6%;
}

.ml-6 {
  margin-left: 6%;
}

.mr-6 {
  margin-right: 6%;
}

.mt-6 {
  margin-top: 6%;
}

.mb-6 {
  margin-bottom: 6%;
}

.p-6 {
  padding: 6%;
}

.pl-6 {
  padding-left: 6%;
}

.pr-6 {
  padding-right: 6%;
}

.pt-6 {
  padding-top: 6%;
}

.pb-6 {
  padding-bottom: 6%;
}

.m-7 {
  margin: 7%;
}

.ml-7 {
  margin-left: 7%;
}

.mr-7 {
  margin-right: 7%;
}

.mt-7 {
  margin-top: 7%;
}

.mb-7 {
  margin-bottom: 7%;
}

.p-7 {
  padding: 7%;
}

.pl-7 {
  padding-left: 7%;
}

.pr-7 {
  padding-right: 7%;
}

.pt-7 {
  padding-top: 7%;
}

.pb-7 {
  padding-bottom: 7%;
}

.m-8 {
  margin: 8%;
}

.ml-8 {
  margin-left: 8%;
}

.mr-8 {
  margin-right: 8%;
}

.mt-8 {
  margin-top: 8%;
}

.mb-8 {
  margin-bottom: 8%;
}

.p-8 {
  padding: 8%;
}

.pl-8 {
  padding-left: 8%;
}

.pr-8 {
  padding-right: 8%;
}

.pt-8 {
  padding-top: 8%;
}

.pb-8 {
  padding-bottom: 8%;
}

.m-9 {
  margin: 9%;
}

.ml-9 {
  margin-left: 9%;
}

.mr-9 {
  margin-right: 9%;
}

.mt-9 {
  margin-top: 9%;
}

.mb-9 {
  margin-bottom: 9%;
}

.p-9 {
  padding: 9%;
}

.pl-9 {
  padding-left: 9%;
}

.pr-9 {
  padding-right: 9%;
}

.pt-9 {
  padding-top: 9%;
}

.pb-9 {
  padding-bottom: 9%;
}

.m-10 {
  margin: 10%;
}

.ml-10 {
  margin-left: 10%;
}

.mr-10 {
  margin-right: 10%;
}

.mt-10 {
  margin-top: 10%;
}

.mb-10 {
  margin-bottom: 10%;
}

.p-10 {
  padding: 10%;
}

.pl-10 {
  padding-left: 10%;
}

.pr-10 {
  padding-right: 10%;
}

.pt-10 {
  padding-top: 10%;
}

.pb-10 {
  padding-bottom: 10%;
}

.m-11 {
  margin: 11%;
}

.ml-11 {
  margin-left: 11%;
}

.mr-11 {
  margin-right: 11%;
}

.mt-11 {
  margin-top: 11%;
}

.mb-11 {
  margin-bottom: 11%;
}

.p-11 {
  padding: 11%;
}

.pl-11 {
  padding-left: 11%;
}

.pr-11 {
  padding-right: 11%;
}

.pt-11 {
  padding-top: 11%;
}

.pb-11 {
  padding-bottom: 11%;
}

.m-12 {
  margin: 12%;
}

.ml-12 {
  margin-left: 12%;
}

.mr-12 {
  margin-right: 12%;
}

.mt-12 {
  margin-top: 12%;
}

.mb-12 {
  margin-bottom: 12%;
}

.p-12 {
  padding: 12%;
}

.pl-12 {
  padding-left: 12%;
}

.pr-12 {
  padding-right: 12%;
}

.pt-12 {
  padding-top: 12%;
}

.pb-12 {
  padding-bottom: 12%;
}

.m-13 {
  margin: 13%;
}

.ml-13 {
  margin-left: 13%;
}

.mr-13 {
  margin-right: 13%;
}

.mt-13 {
  margin-top: 13%;
}

.mb-13 {
  margin-bottom: 13%;
}

.p-13 {
  padding: 13%;
}

.pl-13 {
  padding-left: 13%;
}

.pr-13 {
  padding-right: 13%;
}

.pt-13 {
  padding-top: 13%;
}

.pb-13 {
  padding-bottom: 13%;
}

.m-14 {
  margin: 14%;
}

.ml-14 {
  margin-left: 14%;
}

.mr-14 {
  margin-right: 14%;
}

.mt-14 {
  margin-top: 14%;
}

.mb-14 {
  margin-bottom: 14%;
}

.p-14 {
  padding: 14%;
}

.pl-14 {
  padding-left: 14%;
}

.pr-14 {
  padding-right: 14%;
}

.pt-14 {
  padding-top: 14%;
}

.pb-14 {
  padding-bottom: 14%;
}

.m-15 {
  margin: 15%;
}

.ml-15 {
  margin-left: 15%;
}

.mr-15 {
  margin-right: 15%;
}

.mt-15 {
  margin-top: 15%;
}

.mb-15 {
  margin-bottom: 15%;
}

.p-15 {
  padding: 15%;
}

.pl-15 {
  padding-left: 15%;
}

.pr-15 {
  padding-right: 15%;
}

.pt-15 {
  padding-top: 15%;
}

.pb-15 {
  padding-bottom: 15%;
}

.m-16 {
  margin: 16%;
}

.ml-16 {
  margin-left: 16%;
}

.mr-16 {
  margin-right: 16%;
}

.mt-16 {
  margin-top: 16%;
}

.mb-16 {
  margin-bottom: 16%;
}

.p-16 {
  padding: 16%;
}

.pl-16 {
  padding-left: 16%;
}

.pr-16 {
  padding-right: 16%;
}

.pt-16 {
  padding-top: 16%;
}

.pb-16 {
  padding-bottom: 16%;
}

.m-17 {
  margin: 17%;
}

.ml-17 {
  margin-left: 17%;
}

.mr-17 {
  margin-right: 17%;
}

.mt-17 {
  margin-top: 17%;
}

.mb-17 {
  margin-bottom: 17%;
}

.p-17 {
  padding: 17%;
}

.pl-17 {
  padding-left: 17%;
}

.pr-17 {
  padding-right: 17%;
}

.pt-17 {
  padding-top: 17%;
}

.pb-17 {
  padding-bottom: 17%;
}

.m-18 {
  margin: 18%;
}

.ml-18 {
  margin-left: 18%;
}

.mr-18 {
  margin-right: 18%;
}

.mt-18 {
  margin-top: 18%;
}

.mb-18 {
  margin-bottom: 18%;
}

.p-18 {
  padding: 18%;
}

.pl-18 {
  padding-left: 18%;
}

.pr-18 {
  padding-right: 18%;
}

.pt-18 {
  padding-top: 18%;
}

.pb-18 {
  padding-bottom: 18%;
}

.m-19 {
  margin: 19%;
}

.ml-19 {
  margin-left: 19%;
}

.mr-19 {
  margin-right: 19%;
}

.mt-19 {
  margin-top: 19%;
}

.mb-19 {
  margin-bottom: 19%;
}

.p-19 {
  padding: 19%;
}

.pl-19 {
  padding-left: 19%;
}

.pr-19 {
  padding-right: 19%;
}

.pt-19 {
  padding-top: 19%;
}

.pb-19 {
  padding-bottom: 19%;
}

.m-20 {
  margin: 20%;
}

.ml-20 {
  margin-left: 20%;
}

.mr-20 {
  margin-right: 20%;
}

.mt-20 {
  margin-top: 20%;
}

.mb-20 {
  margin-bottom: 20%;
}

.p-20 {
  padding: 20%;
}

.pl-20 {
  padding-left: 20%;
}

.pr-20 {
  padding-right: 20%;
}

.pt-20 {
  padding-top: 20%;
}

.pb-20 {
  padding-bottom: 20%;
}

.m-21 {
  margin: 21%;
}

.ml-21 {
  margin-left: 21%;
}

.mr-21 {
  margin-right: 21%;
}

.mt-21 {
  margin-top: 21%;
}

.mb-21 {
  margin-bottom: 21%;
}

.p-21 {
  padding: 21%;
}

.pl-21 {
  padding-left: 21%;
}

.pr-21 {
  padding-right: 21%;
}

.pt-21 {
  padding-top: 21%;
}

.pb-21 {
  padding-bottom: 21%;
}

.m-22 {
  margin: 22%;
}

.ml-22 {
  margin-left: 22%;
}

.mr-22 {
  margin-right: 22%;
}

.mt-22 {
  margin-top: 22%;
}

.mb-22 {
  margin-bottom: 22%;
}

.p-22 {
  padding: 22%;
}

.pl-22 {
  padding-left: 22%;
}

.pr-22 {
  padding-right: 22%;
}

.pt-22 {
  padding-top: 22%;
}

.pb-22 {
  padding-bottom: 22%;
}

.m-23 {
  margin: 23%;
}

.ml-23 {
  margin-left: 23%;
}

.mr-23 {
  margin-right: 23%;
}

.mt-23 {
  margin-top: 23%;
}

.mb-23 {
  margin-bottom: 23%;
}

.p-23 {
  padding: 23%;
}

.pl-23 {
  padding-left: 23%;
}

.pr-23 {
  padding-right: 23%;
}

.pt-23 {
  padding-top: 23%;
}

.pb-23 {
  padding-bottom: 23%;
}

.m-24 {
  margin: 24%;
}

.ml-24 {
  margin-left: 24%;
}

.mr-24 {
  margin-right: 24%;
}

.mt-24 {
  margin-top: 24%;
}

.mb-24 {
  margin-bottom: 24%;
}

.p-24 {
  padding: 24%;
}

.pl-24 {
  padding-left: 24%;
}

.pr-24 {
  padding-right: 24%;
}

.pt-24 {
  padding-top: 24%;
}

.pb-24 {
  padding-bottom: 24%;
}

.m-25 {
  margin: 25%;
}

.ml-25 {
  margin-left: 25%;
}

.mr-25 {
  margin-right: 25%;
}

.mt-25 {
  margin-top: 25%;
}

.mb-25 {
  margin-bottom: 25%;
}

.p-25 {
  padding: 25%;
}

.pl-25 {
  padding-left: 25%;
}

.pr-25 {
  padding-right: 25%;
}

.pt-25 {
  padding-top: 25%;
}

.pb-25 {
  padding-bottom: 25%;
}

.m-26 {
  margin: 26%;
}

.ml-26 {
  margin-left: 26%;
}

.mr-26 {
  margin-right: 26%;
}

.mt-26 {
  margin-top: 26%;
}

.mb-26 {
  margin-bottom: 26%;
}

.p-26 {
  padding: 26%;
}

.pl-26 {
  padding-left: 26%;
}

.pr-26 {
  padding-right: 26%;
}

.pt-26 {
  padding-top: 26%;
}

.pb-26 {
  padding-bottom: 26%;
}

.m-27 {
  margin: 27%;
}

.ml-27 {
  margin-left: 27%;
}

.mr-27 {
  margin-right: 27%;
}

.mt-27 {
  margin-top: 27%;
}

.mb-27 {
  margin-bottom: 27%;
}

.p-27 {
  padding: 27%;
}

.pl-27 {
  padding-left: 27%;
}

.pr-27 {
  padding-right: 27%;
}

.pt-27 {
  padding-top: 27%;
}

.pb-27 {
  padding-bottom: 27%;
}

.m-28 {
  margin: 28%;
}

.ml-28 {
  margin-left: 28%;
}

.mr-28 {
  margin-right: 28%;
}

.mt-28 {
  margin-top: 28%;
}

.mb-28 {
  margin-bottom: 28%;
}

.p-28 {
  padding: 28%;
}

.pl-28 {
  padding-left: 28%;
}

.pr-28 {
  padding-right: 28%;
}

.pt-28 {
  padding-top: 28%;
}

.pb-28 {
  padding-bottom: 28%;
}

.m-29 {
  margin: 29%;
}

.ml-29 {
  margin-left: 29%;
}

.mr-29 {
  margin-right: 29%;
}

.mt-29 {
  margin-top: 29%;
}

.mb-29 {
  margin-bottom: 29%;
}

.p-29 {
  padding: 29%;
}

.pl-29 {
  padding-left: 29%;
}

.pr-29 {
  padding-right: 29%;
}

.pt-29 {
  padding-top: 29%;
}

.pb-29 {
  padding-bottom: 29%;
}

.m-30 {
  margin: 30%;
}

.ml-30 {
  margin-left: 30%;
}

.mr-30 {
  margin-right: 30%;
}

.mt-30 {
  margin-top: 30%;
}

.mb-30 {
  margin-bottom: 30%;
}

.p-30 {
  padding: 30%;
}

.pl-30 {
  padding-left: 30%;
}

.pr-30 {
  padding-right: 30%;
}

.pt-30 {
  padding-top: 30%;
}

.pb-30 {
  padding-bottom: 30%;
}

.m-31 {
  margin: 31%;
}

.ml-31 {
  margin-left: 31%;
}

.mr-31 {
  margin-right: 31%;
}

.mt-31 {
  margin-top: 31%;
}

.mb-31 {
  margin-bottom: 31%;
}

.p-31 {
  padding: 31%;
}

.pl-31 {
  padding-left: 31%;
}

.pr-31 {
  padding-right: 31%;
}

.pt-31 {
  padding-top: 31%;
}

.pb-31 {
  padding-bottom: 31%;
}

.m-32 {
  margin: 32%;
}

.ml-32 {
  margin-left: 32%;
}

.mr-32 {
  margin-right: 32%;
}

.mt-32 {
  margin-top: 32%;
}

.mb-32 {
  margin-bottom: 32%;
}

.p-32 {
  padding: 32%;
}

.pl-32 {
  padding-left: 32%;
}

.pr-32 {
  padding-right: 32%;
}

.pt-32 {
  padding-top: 32%;
}

.pb-32 {
  padding-bottom: 32%;
}

.m-33 {
  margin: 33%;
}

.ml-33 {
  margin-left: 33%;
}

.mr-33 {
  margin-right: 33%;
}

.mt-33 {
  margin-top: 33%;
}

.mb-33 {
  margin-bottom: 33%;
}

.p-33 {
  padding: 33%;
}

.pl-33 {
  padding-left: 33%;
}

.pr-33 {
  padding-right: 33%;
}

.pt-33 {
  padding-top: 33%;
}

.pb-33 {
  padding-bottom: 33%;
}

.m-34 {
  margin: 34%;
}

.ml-34 {
  margin-left: 34%;
}

.mr-34 {
  margin-right: 34%;
}

.mt-34 {
  margin-top: 34%;
}

.mb-34 {
  margin-bottom: 34%;
}

.p-34 {
  padding: 34%;
}

.pl-34 {
  padding-left: 34%;
}

.pr-34 {
  padding-right: 34%;
}

.pt-34 {
  padding-top: 34%;
}

.pb-34 {
  padding-bottom: 34%;
}

.m-35 {
  margin: 35%;
}

.ml-35 {
  margin-left: 35%;
}

.mr-35 {
  margin-right: 35%;
}

.mt-35 {
  margin-top: 35%;
}

.mb-35 {
  margin-bottom: 35%;
}

.p-35 {
  padding: 35%;
}

.pl-35 {
  padding-left: 35%;
}

.pr-35 {
  padding-right: 35%;
}

.pt-35 {
  padding-top: 35%;
}

.pb-35 {
  padding-bottom: 35%;
}

.m-36 {
  margin: 36%;
}

.ml-36 {
  margin-left: 36%;
}

.mr-36 {
  margin-right: 36%;
}

.mt-36 {
  margin-top: 36%;
}

.mb-36 {
  margin-bottom: 36%;
}

.p-36 {
  padding: 36%;
}

.pl-36 {
  padding-left: 36%;
}

.pr-36 {
  padding-right: 36%;
}

.pt-36 {
  padding-top: 36%;
}

.pb-36 {
  padding-bottom: 36%;
}

.m-37 {
  margin: 37%;
}

.ml-37 {
  margin-left: 37%;
}

.mr-37 {
  margin-right: 37%;
}

.mt-37 {
  margin-top: 37%;
}

.mb-37 {
  margin-bottom: 37%;
}

.p-37 {
  padding: 37%;
}

.pl-37 {
  padding-left: 37%;
}

.pr-37 {
  padding-right: 37%;
}

.pt-37 {
  padding-top: 37%;
}

.pb-37 {
  padding-bottom: 37%;
}

.m-38 {
  margin: 38%;
}

.ml-38 {
  margin-left: 38%;
}

.mr-38 {
  margin-right: 38%;
}

.mt-38 {
  margin-top: 38%;
}

.mb-38 {
  margin-bottom: 38%;
}

.p-38 {
  padding: 38%;
}

.pl-38 {
  padding-left: 38%;
}

.pr-38 {
  padding-right: 38%;
}

.pt-38 {
  padding-top: 38%;
}

.pb-38 {
  padding-bottom: 38%;
}

.m-39 {
  margin: 39%;
}

.ml-39 {
  margin-left: 39%;
}

.mr-39 {
  margin-right: 39%;
}

.mt-39 {
  margin-top: 39%;
}

.mb-39 {
  margin-bottom: 39%;
}

.p-39 {
  padding: 39%;
}

.pl-39 {
  padding-left: 39%;
}

.pr-39 {
  padding-right: 39%;
}

.pt-39 {
  padding-top: 39%;
}

.pb-39 {
  padding-bottom: 39%;
}

.m-40 {
  margin: 40%;
}

.ml-40 {
  margin-left: 40%;
}

.mr-40 {
  margin-right: 40%;
}

.mt-40 {
  margin-top: 40%;
}

.mb-40 {
  margin-bottom: 40%;
}

.p-40 {
  padding: 40%;
}

.pl-40 {
  padding-left: 40%;
}

.pr-40 {
  padding-right: 40%;
}

.pt-40 {
  padding-top: 40%;
}

.pb-40 {
  padding-bottom: 40%;
}

.m-41 {
  margin: 41%;
}

.ml-41 {
  margin-left: 41%;
}

.mr-41 {
  margin-right: 41%;
}

.mt-41 {
  margin-top: 41%;
}

.mb-41 {
  margin-bottom: 41%;
}

.p-41 {
  padding: 41%;
}

.pl-41 {
  padding-left: 41%;
}

.pr-41 {
  padding-right: 41%;
}

.pt-41 {
  padding-top: 41%;
}

.pb-41 {
  padding-bottom: 41%;
}

.m-42 {
  margin: 42%;
}

.ml-42 {
  margin-left: 42%;
}

.mr-42 {
  margin-right: 42%;
}

.mt-42 {
  margin-top: 42%;
}

.mb-42 {
  margin-bottom: 42%;
}

.p-42 {
  padding: 42%;
}

.pl-42 {
  padding-left: 42%;
}

.pr-42 {
  padding-right: 42%;
}

.pt-42 {
  padding-top: 42%;
}

.pb-42 {
  padding-bottom: 42%;
}

.m-43 {
  margin: 43%;
}

.ml-43 {
  margin-left: 43%;
}

.mr-43 {
  margin-right: 43%;
}

.mt-43 {
  margin-top: 43%;
}

.mb-43 {
  margin-bottom: 43%;
}

.p-43 {
  padding: 43%;
}

.pl-43 {
  padding-left: 43%;
}

.pr-43 {
  padding-right: 43%;
}

.pt-43 {
  padding-top: 43%;
}

.pb-43 {
  padding-bottom: 43%;
}

.m-44 {
  margin: 44%;
}

.ml-44 {
  margin-left: 44%;
}

.mr-44 {
  margin-right: 44%;
}

.mt-44 {
  margin-top: 44%;
}

.mb-44 {
  margin-bottom: 44%;
}

.p-44 {
  padding: 44%;
}

.pl-44 {
  padding-left: 44%;
}

.pr-44 {
  padding-right: 44%;
}

.pt-44 {
  padding-top: 44%;
}

.pb-44 {
  padding-bottom: 44%;
}

.m-45 {
  margin: 45%;
}

.ml-45 {
  margin-left: 45%;
}

.mr-45 {
  margin-right: 45%;
}

.mt-45 {
  margin-top: 45%;
}

.mb-45 {
  margin-bottom: 45%;
}

.p-45 {
  padding: 45%;
}

.pl-45 {
  padding-left: 45%;
}

.pr-45 {
  padding-right: 45%;
}

.pt-45 {
  padding-top: 45%;
}

.pb-45 {
  padding-bottom: 45%;
}

.m-46 {
  margin: 46%;
}

.ml-46 {
  margin-left: 46%;
}

.mr-46 {
  margin-right: 46%;
}

.mt-46 {
  margin-top: 46%;
}

.mb-46 {
  margin-bottom: 46%;
}

.p-46 {
  padding: 46%;
}

.pl-46 {
  padding-left: 46%;
}

.pr-46 {
  padding-right: 46%;
}

.pt-46 {
  padding-top: 46%;
}

.pb-46 {
  padding-bottom: 46%;
}

.m-47 {
  margin: 47%;
}

.ml-47 {
  margin-left: 47%;
}

.mr-47 {
  margin-right: 47%;
}

.mt-47 {
  margin-top: 47%;
}

.mb-47 {
  margin-bottom: 47%;
}

.p-47 {
  padding: 47%;
}

.pl-47 {
  padding-left: 47%;
}

.pr-47 {
  padding-right: 47%;
}

.pt-47 {
  padding-top: 47%;
}

.pb-47 {
  padding-bottom: 47%;
}

.m-48 {
  margin: 48%;
}

.ml-48 {
  margin-left: 48%;
}

.mr-48 {
  margin-right: 48%;
}

.mt-48 {
  margin-top: 48%;
}

.mb-48 {
  margin-bottom: 48%;
}

.p-48 {
  padding: 48%;
}

.pl-48 {
  padding-left: 48%;
}

.pr-48 {
  padding-right: 48%;
}

.pt-48 {
  padding-top: 48%;
}

.pb-48 {
  padding-bottom: 48%;
}

.m-49 {
  margin: 49%;
}

.ml-49 {
  margin-left: 49%;
}

.mr-49 {
  margin-right: 49%;
}

.mt-49 {
  margin-top: 49%;
}

.mb-49 {
  margin-bottom: 49%;
}

.p-49 {
  padding: 49%;
}

.pl-49 {
  padding-left: 49%;
}

.pr-49 {
  padding-right: 49%;
}

.pt-49 {
  padding-top: 49%;
}

.pb-49 {
  padding-bottom: 49%;
}

.m-50 {
  margin: 50%;
}

.ml-50 {
  margin-left: 50%;
}

.mr-50 {
  margin-right: 50%;
}

.mt-50 {
  margin-top: 50%;
}

.mb-50 {
  margin-bottom: 50%;
}

.p-50 {
  padding: 50%;
}

.pl-50 {
  padding-left: 50%;
}

.pr-50 {
  padding-right: 50%;
}

.pt-50 {
  padding-top: 50%;
}

.pb-50 {
  padding-bottom: 50%;
}

.m-51 {
  margin: 51%;
}

.ml-51 {
  margin-left: 51%;
}

.mr-51 {
  margin-right: 51%;
}

.mt-51 {
  margin-top: 51%;
}

.mb-51 {
  margin-bottom: 51%;
}

.p-51 {
  padding: 51%;
}

.pl-51 {
  padding-left: 51%;
}

.pr-51 {
  padding-right: 51%;
}

.pt-51 {
  padding-top: 51%;
}

.pb-51 {
  padding-bottom: 51%;
}

.m-52 {
  margin: 52%;
}

.ml-52 {
  margin-left: 52%;
}

.mr-52 {
  margin-right: 52%;
}

.mt-52 {
  margin-top: 52%;
}

.mb-52 {
  margin-bottom: 52%;
}

.p-52 {
  padding: 52%;
}

.pl-52 {
  padding-left: 52%;
}

.pr-52 {
  padding-right: 52%;
}

.pt-52 {
  padding-top: 52%;
}

.pb-52 {
  padding-bottom: 52%;
}

.m-53 {
  margin: 53%;
}

.ml-53 {
  margin-left: 53%;
}

.mr-53 {
  margin-right: 53%;
}

.mt-53 {
  margin-top: 53%;
}

.mb-53 {
  margin-bottom: 53%;
}

.p-53 {
  padding: 53%;
}

.pl-53 {
  padding-left: 53%;
}

.pr-53 {
  padding-right: 53%;
}

.pt-53 {
  padding-top: 53%;
}

.pb-53 {
  padding-bottom: 53%;
}

.m-54 {
  margin: 54%;
}

.ml-54 {
  margin-left: 54%;
}

.mr-54 {
  margin-right: 54%;
}

.mt-54 {
  margin-top: 54%;
}

.mb-54 {
  margin-bottom: 54%;
}

.p-54 {
  padding: 54%;
}

.pl-54 {
  padding-left: 54%;
}

.pr-54 {
  padding-right: 54%;
}

.pt-54 {
  padding-top: 54%;
}

.pb-54 {
  padding-bottom: 54%;
}

.m-55 {
  margin: 55%;
}

.ml-55 {
  margin-left: 55%;
}

.mr-55 {
  margin-right: 55%;
}

.mt-55 {
  margin-top: 55%;
}

.mb-55 {
  margin-bottom: 55%;
}

.p-55 {
  padding: 55%;
}

.pl-55 {
  padding-left: 55%;
}

.pr-55 {
  padding-right: 55%;
}

.pt-55 {
  padding-top: 55%;
}

.pb-55 {
  padding-bottom: 55%;
}

.m-56 {
  margin: 56%;
}

.ml-56 {
  margin-left: 56%;
}

.mr-56 {
  margin-right: 56%;
}

.mt-56 {
  margin-top: 56%;
}

.mb-56 {
  margin-bottom: 56%;
}

.p-56 {
  padding: 56%;
}

.pl-56 {
  padding-left: 56%;
}

.pr-56 {
  padding-right: 56%;
}

.pt-56 {
  padding-top: 56%;
}

.pb-56 {
  padding-bottom: 56%;
}

.m-57 {
  margin: 57%;
}

.ml-57 {
  margin-left: 57%;
}

.mr-57 {
  margin-right: 57%;
}

.mt-57 {
  margin-top: 57%;
}

.mb-57 {
  margin-bottom: 57%;
}

.p-57 {
  padding: 57%;
}

.pl-57 {
  padding-left: 57%;
}

.pr-57 {
  padding-right: 57%;
}

.pt-57 {
  padding-top: 57%;
}

.pb-57 {
  padding-bottom: 57%;
}

.m-58 {
  margin: 58%;
}

.ml-58 {
  margin-left: 58%;
}

.mr-58 {
  margin-right: 58%;
}

.mt-58 {
  margin-top: 58%;
}

.mb-58 {
  margin-bottom: 58%;
}

.p-58 {
  padding: 58%;
}

.pl-58 {
  padding-left: 58%;
}

.pr-58 {
  padding-right: 58%;
}

.pt-58 {
  padding-top: 58%;
}

.pb-58 {
  padding-bottom: 58%;
}

.m-59 {
  margin: 59%;
}

.ml-59 {
  margin-left: 59%;
}

.mr-59 {
  margin-right: 59%;
}

.mt-59 {
  margin-top: 59%;
}

.mb-59 {
  margin-bottom: 59%;
}

.p-59 {
  padding: 59%;
}

.pl-59 {
  padding-left: 59%;
}

.pr-59 {
  padding-right: 59%;
}

.pt-59 {
  padding-top: 59%;
}

.pb-59 {
  padding-bottom: 59%;
}

.m-60 {
  margin: 60%;
}

.ml-60 {
  margin-left: 60%;
}

.mr-60 {
  margin-right: 60%;
}

.mt-60 {
  margin-top: 60%;
}

.mb-60 {
  margin-bottom: 60%;
}

.p-60 {
  padding: 60%;
}

.pl-60 {
  padding-left: 60%;
}

.pr-60 {
  padding-right: 60%;
}

.pt-60 {
  padding-top: 60%;
}

.pb-60 {
  padding-bottom: 60%;
}

.m-61 {
  margin: 61%;
}

.ml-61 {
  margin-left: 61%;
}

.mr-61 {
  margin-right: 61%;
}

.mt-61 {
  margin-top: 61%;
}

.mb-61 {
  margin-bottom: 61%;
}

.p-61 {
  padding: 61%;
}

.pl-61 {
  padding-left: 61%;
}

.pr-61 {
  padding-right: 61%;
}

.pt-61 {
  padding-top: 61%;
}

.pb-61 {
  padding-bottom: 61%;
}

.m-62 {
  margin: 62%;
}

.ml-62 {
  margin-left: 62%;
}

.mr-62 {
  margin-right: 62%;
}

.mt-62 {
  margin-top: 62%;
}

.mb-62 {
  margin-bottom: 62%;
}

.p-62 {
  padding: 62%;
}

.pl-62 {
  padding-left: 62%;
}

.pr-62 {
  padding-right: 62%;
}

.pt-62 {
  padding-top: 62%;
}

.pb-62 {
  padding-bottom: 62%;
}

.m-63 {
  margin: 63%;
}

.ml-63 {
  margin-left: 63%;
}

.mr-63 {
  margin-right: 63%;
}

.mt-63 {
  margin-top: 63%;
}

.mb-63 {
  margin-bottom: 63%;
}

.p-63 {
  padding: 63%;
}

.pl-63 {
  padding-left: 63%;
}

.pr-63 {
  padding-right: 63%;
}

.pt-63 {
  padding-top: 63%;
}

.pb-63 {
  padding-bottom: 63%;
}

.m-64 {
  margin: 64%;
}

.ml-64 {
  margin-left: 64%;
}

.mr-64 {
  margin-right: 64%;
}

.mt-64 {
  margin-top: 64%;
}

.mb-64 {
  margin-bottom: 64%;
}

.p-64 {
  padding: 64%;
}

.pl-64 {
  padding-left: 64%;
}

.pr-64 {
  padding-right: 64%;
}

.pt-64 {
  padding-top: 64%;
}

.pb-64 {
  padding-bottom: 64%;
}

.m-65 {
  margin: 65%;
}

.ml-65 {
  margin-left: 65%;
}

.mr-65 {
  margin-right: 65%;
}

.mt-65 {
  margin-top: 65%;
}

.mb-65 {
  margin-bottom: 65%;
}

.p-65 {
  padding: 65%;
}

.pl-65 {
  padding-left: 65%;
}

.pr-65 {
  padding-right: 65%;
}

.pt-65 {
  padding-top: 65%;
}

.pb-65 {
  padding-bottom: 65%;
}

.m-66 {
  margin: 66%;
}

.ml-66 {
  margin-left: 66%;
}

.mr-66 {
  margin-right: 66%;
}

.mt-66 {
  margin-top: 66%;
}

.mb-66 {
  margin-bottom: 66%;
}

.p-66 {
  padding: 66%;
}

.pl-66 {
  padding-left: 66%;
}

.pr-66 {
  padding-right: 66%;
}

.pt-66 {
  padding-top: 66%;
}

.pb-66 {
  padding-bottom: 66%;
}

.m-67 {
  margin: 67%;
}

.ml-67 {
  margin-left: 67%;
}

.mr-67 {
  margin-right: 67%;
}

.mt-67 {
  margin-top: 67%;
}

.mb-67 {
  margin-bottom: 67%;
}

.p-67 {
  padding: 67%;
}

.pl-67 {
  padding-left: 67%;
}

.pr-67 {
  padding-right: 67%;
}

.pt-67 {
  padding-top: 67%;
}

.pb-67 {
  padding-bottom: 67%;
}

.m-68 {
  margin: 68%;
}

.ml-68 {
  margin-left: 68%;
}

.mr-68 {
  margin-right: 68%;
}

.mt-68 {
  margin-top: 68%;
}

.mb-68 {
  margin-bottom: 68%;
}

.p-68 {
  padding: 68%;
}

.pl-68 {
  padding-left: 68%;
}

.pr-68 {
  padding-right: 68%;
}

.pt-68 {
  padding-top: 68%;
}

.pb-68 {
  padding-bottom: 68%;
}

.m-69 {
  margin: 69%;
}

.ml-69 {
  margin-left: 69%;
}

.mr-69 {
  margin-right: 69%;
}

.mt-69 {
  margin-top: 69%;
}

.mb-69 {
  margin-bottom: 69%;
}

.p-69 {
  padding: 69%;
}

.pl-69 {
  padding-left: 69%;
}

.pr-69 {
  padding-right: 69%;
}

.pt-69 {
  padding-top: 69%;
}

.pb-69 {
  padding-bottom: 69%;
}

.m-70 {
  margin: 70%;
}

.ml-70 {
  margin-left: 70%;
}

.mr-70 {
  margin-right: 70%;
}

.mt-70 {
  margin-top: 70%;
}

.mb-70 {
  margin-bottom: 70%;
}

.p-70 {
  padding: 70%;
}

.pl-70 {
  padding-left: 70%;
}

.pr-70 {
  padding-right: 70%;
}

.pt-70 {
  padding-top: 70%;
}

.pb-70 {
  padding-bottom: 70%;
}

.m-71 {
  margin: 71%;
}

.ml-71 {
  margin-left: 71%;
}

.mr-71 {
  margin-right: 71%;
}

.mt-71 {
  margin-top: 71%;
}

.mb-71 {
  margin-bottom: 71%;
}

.p-71 {
  padding: 71%;
}

.pl-71 {
  padding-left: 71%;
}

.pr-71 {
  padding-right: 71%;
}

.pt-71 {
  padding-top: 71%;
}

.pb-71 {
  padding-bottom: 71%;
}

.m-72 {
  margin: 72%;
}

.ml-72 {
  margin-left: 72%;
}

.mr-72 {
  margin-right: 72%;
}

.mt-72 {
  margin-top: 72%;
}

.mb-72 {
  margin-bottom: 72%;
}

.p-72 {
  padding: 72%;
}

.pl-72 {
  padding-left: 72%;
}

.pr-72 {
  padding-right: 72%;
}

.pt-72 {
  padding-top: 72%;
}

.pb-72 {
  padding-bottom: 72%;
}

.m-73 {
  margin: 73%;
}

.ml-73 {
  margin-left: 73%;
}

.mr-73 {
  margin-right: 73%;
}

.mt-73 {
  margin-top: 73%;
}

.mb-73 {
  margin-bottom: 73%;
}

.p-73 {
  padding: 73%;
}

.pl-73 {
  padding-left: 73%;
}

.pr-73 {
  padding-right: 73%;
}

.pt-73 {
  padding-top: 73%;
}

.pb-73 {
  padding-bottom: 73%;
}

.m-74 {
  margin: 74%;
}

.ml-74 {
  margin-left: 74%;
}

.mr-74 {
  margin-right: 74%;
}

.mt-74 {
  margin-top: 74%;
}

.mb-74 {
  margin-bottom: 74%;
}

.p-74 {
  padding: 74%;
}

.pl-74 {
  padding-left: 74%;
}

.pr-74 {
  padding-right: 74%;
}

.pt-74 {
  padding-top: 74%;
}

.pb-74 {
  padding-bottom: 74%;
}

.m-75 {
  margin: 75%;
}

.ml-75 {
  margin-left: 75%;
}

.mr-75 {
  margin-right: 75%;
}

.mt-75 {
  margin-top: 75%;
}

.mb-75 {
  margin-bottom: 75%;
}

.p-75 {
  padding: 75%;
}

.pl-75 {
  padding-left: 75%;
}

.pr-75 {
  padding-right: 75%;
}

.pt-75 {
  padding-top: 75%;
}

.pb-75 {
  padding-bottom: 75%;
}

.m-76 {
  margin: 76%;
}

.ml-76 {
  margin-left: 76%;
}

.mr-76 {
  margin-right: 76%;
}

.mt-76 {
  margin-top: 76%;
}

.mb-76 {
  margin-bottom: 76%;
}

.p-76 {
  padding: 76%;
}

.pl-76 {
  padding-left: 76%;
}

.pr-76 {
  padding-right: 76%;
}

.pt-76 {
  padding-top: 76%;
}

.pb-76 {
  padding-bottom: 76%;
}

.m-77 {
  margin: 77%;
}

.ml-77 {
  margin-left: 77%;
}

.mr-77 {
  margin-right: 77%;
}

.mt-77 {
  margin-top: 77%;
}

.mb-77 {
  margin-bottom: 77%;
}

.p-77 {
  padding: 77%;
}

.pl-77 {
  padding-left: 77%;
}

.pr-77 {
  padding-right: 77%;
}

.pt-77 {
  padding-top: 77%;
}

.pb-77 {
  padding-bottom: 77%;
}

.m-78 {
  margin: 78%;
}

.ml-78 {
  margin-left: 78%;
}

.mr-78 {
  margin-right: 78%;
}

.mt-78 {
  margin-top: 78%;
}

.mb-78 {
  margin-bottom: 78%;
}

.p-78 {
  padding: 78%;
}

.pl-78 {
  padding-left: 78%;
}

.pr-78 {
  padding-right: 78%;
}

.pt-78 {
  padding-top: 78%;
}

.pb-78 {
  padding-bottom: 78%;
}

.m-79 {
  margin: 79%;
}

.ml-79 {
  margin-left: 79%;
}

.mr-79 {
  margin-right: 79%;
}

.mt-79 {
  margin-top: 79%;
}

.mb-79 {
  margin-bottom: 79%;
}

.p-79 {
  padding: 79%;
}

.pl-79 {
  padding-left: 79%;
}

.pr-79 {
  padding-right: 79%;
}

.pt-79 {
  padding-top: 79%;
}

.pb-79 {
  padding-bottom: 79%;
}

.m-80 {
  margin: 80%;
}

.ml-80 {
  margin-left: 80%;
}

.mr-80 {
  margin-right: 80%;
}

.mt-80 {
  margin-top: 80%;
}

.mb-80 {
  margin-bottom: 80%;
}

.p-80 {
  padding: 80%;
}

.pl-80 {
  padding-left: 80%;
}

.pr-80 {
  padding-right: 80%;
}

.pt-80 {
  padding-top: 80%;
}

.pb-80 {
  padding-bottom: 80%;
}

.m-81 {
  margin: 81%;
}

.ml-81 {
  margin-left: 81%;
}

.mr-81 {
  margin-right: 81%;
}

.mt-81 {
  margin-top: 81%;
}

.mb-81 {
  margin-bottom: 81%;
}

.p-81 {
  padding: 81%;
}

.pl-81 {
  padding-left: 81%;
}

.pr-81 {
  padding-right: 81%;
}

.pt-81 {
  padding-top: 81%;
}

.pb-81 {
  padding-bottom: 81%;
}

.m-82 {
  margin: 82%;
}

.ml-82 {
  margin-left: 82%;
}

.mr-82 {
  margin-right: 82%;
}

.mt-82 {
  margin-top: 82%;
}

.mb-82 {
  margin-bottom: 82%;
}

.p-82 {
  padding: 82%;
}

.pl-82 {
  padding-left: 82%;
}

.pr-82 {
  padding-right: 82%;
}

.pt-82 {
  padding-top: 82%;
}

.pb-82 {
  padding-bottom: 82%;
}

.m-83 {
  margin: 83%;
}

.ml-83 {
  margin-left: 83%;
}

.mr-83 {
  margin-right: 83%;
}

.mt-83 {
  margin-top: 83%;
}

.mb-83 {
  margin-bottom: 83%;
}

.p-83 {
  padding: 83%;
}

.pl-83 {
  padding-left: 83%;
}

.pr-83 {
  padding-right: 83%;
}

.pt-83 {
  padding-top: 83%;
}

.pb-83 {
  padding-bottom: 83%;
}

.m-84 {
  margin: 84%;
}

.ml-84 {
  margin-left: 84%;
}

.mr-84 {
  margin-right: 84%;
}

.mt-84 {
  margin-top: 84%;
}

.mb-84 {
  margin-bottom: 84%;
}

.p-84 {
  padding: 84%;
}

.pl-84 {
  padding-left: 84%;
}

.pr-84 {
  padding-right: 84%;
}

.pt-84 {
  padding-top: 84%;
}

.pb-84 {
  padding-bottom: 84%;
}

.m-85 {
  margin: 85%;
}

.ml-85 {
  margin-left: 85%;
}

.mr-85 {
  margin-right: 85%;
}

.mt-85 {
  margin-top: 85%;
}

.mb-85 {
  margin-bottom: 85%;
}

.p-85 {
  padding: 85%;
}

.pl-85 {
  padding-left: 85%;
}

.pr-85 {
  padding-right: 85%;
}

.pt-85 {
  padding-top: 85%;
}

.pb-85 {
  padding-bottom: 85%;
}

.m-86 {
  margin: 86%;
}

.ml-86 {
  margin-left: 86%;
}

.mr-86 {
  margin-right: 86%;
}

.mt-86 {
  margin-top: 86%;
}

.mb-86 {
  margin-bottom: 86%;
}

.p-86 {
  padding: 86%;
}

.pl-86 {
  padding-left: 86%;
}

.pr-86 {
  padding-right: 86%;
}

.pt-86 {
  padding-top: 86%;
}

.pb-86 {
  padding-bottom: 86%;
}

.m-87 {
  margin: 87%;
}

.ml-87 {
  margin-left: 87%;
}

.mr-87 {
  margin-right: 87%;
}

.mt-87 {
  margin-top: 87%;
}

.mb-87 {
  margin-bottom: 87%;
}

.p-87 {
  padding: 87%;
}

.pl-87 {
  padding-left: 87%;
}

.pr-87 {
  padding-right: 87%;
}

.pt-87 {
  padding-top: 87%;
}

.pb-87 {
  padding-bottom: 87%;
}

.m-88 {
  margin: 88%;
}

.ml-88 {
  margin-left: 88%;
}

.mr-88 {
  margin-right: 88%;
}

.mt-88 {
  margin-top: 88%;
}

.mb-88 {
  margin-bottom: 88%;
}

.p-88 {
  padding: 88%;
}

.pl-88 {
  padding-left: 88%;
}

.pr-88 {
  padding-right: 88%;
}

.pt-88 {
  padding-top: 88%;
}

.pb-88 {
  padding-bottom: 88%;
}

.m-89 {
  margin: 89%;
}

.ml-89 {
  margin-left: 89%;
}

.mr-89 {
  margin-right: 89%;
}

.mt-89 {
  margin-top: 89%;
}

.mb-89 {
  margin-bottom: 89%;
}

.p-89 {
  padding: 89%;
}

.pl-89 {
  padding-left: 89%;
}

.pr-89 {
  padding-right: 89%;
}

.pt-89 {
  padding-top: 89%;
}

.pb-89 {
  padding-bottom: 89%;
}

.m-90 {
  margin: 90%;
}

.ml-90 {
  margin-left: 90%;
}

.mr-90 {
  margin-right: 90%;
}

.mt-90 {
  margin-top: 90%;
}

.mb-90 {
  margin-bottom: 90%;
}

.p-90 {
  padding: 90%;
}

.pl-90 {
  padding-left: 90%;
}

.pr-90 {
  padding-right: 90%;
}

.pt-90 {
  padding-top: 90%;
}

.pb-90 {
  padding-bottom: 90%;
}

.m-91 {
  margin: 91%;
}

.ml-91 {
  margin-left: 91%;
}

.mr-91 {
  margin-right: 91%;
}

.mt-91 {
  margin-top: 91%;
}

.mb-91 {
  margin-bottom: 91%;
}

.p-91 {
  padding: 91%;
}

.pl-91 {
  padding-left: 91%;
}

.pr-91 {
  padding-right: 91%;
}

.pt-91 {
  padding-top: 91%;
}

.pb-91 {
  padding-bottom: 91%;
}

.m-92 {
  margin: 92%;
}

.ml-92 {
  margin-left: 92%;
}

.mr-92 {
  margin-right: 92%;
}

.mt-92 {
  margin-top: 92%;
}

.mb-92 {
  margin-bottom: 92%;
}

.p-92 {
  padding: 92%;
}

.pl-92 {
  padding-left: 92%;
}

.pr-92 {
  padding-right: 92%;
}

.pt-92 {
  padding-top: 92%;
}

.pb-92 {
  padding-bottom: 92%;
}

.m-93 {
  margin: 93%;
}

.ml-93 {
  margin-left: 93%;
}

.mr-93 {
  margin-right: 93%;
}

.mt-93 {
  margin-top: 93%;
}

.mb-93 {
  margin-bottom: 93%;
}

.p-93 {
  padding: 93%;
}

.pl-93 {
  padding-left: 93%;
}

.pr-93 {
  padding-right: 93%;
}

.pt-93 {
  padding-top: 93%;
}

.pb-93 {
  padding-bottom: 93%;
}

.m-94 {
  margin: 94%;
}

.ml-94 {
  margin-left: 94%;
}

.mr-94 {
  margin-right: 94%;
}

.mt-94 {
  margin-top: 94%;
}

.mb-94 {
  margin-bottom: 94%;
}

.p-94 {
  padding: 94%;
}

.pl-94 {
  padding-left: 94%;
}

.pr-94 {
  padding-right: 94%;
}

.pt-94 {
  padding-top: 94%;
}

.pb-94 {
  padding-bottom: 94%;
}

.m-95 {
  margin: 95%;
}

.ml-95 {
  margin-left: 95%;
}

.mr-95 {
  margin-right: 95%;
}

.mt-95 {
  margin-top: 95%;
}

.mb-95 {
  margin-bottom: 95%;
}

.p-95 {
  padding: 95%;
}

.pl-95 {
  padding-left: 95%;
}

.pr-95 {
  padding-right: 95%;
}

.pt-95 {
  padding-top: 95%;
}

.pb-95 {
  padding-bottom: 95%;
}

.m-96 {
  margin: 96%;
}

.ml-96 {
  margin-left: 96%;
}

.mr-96 {
  margin-right: 96%;
}

.mt-96 {
  margin-top: 96%;
}

.mb-96 {
  margin-bottom: 96%;
}

.p-96 {
  padding: 96%;
}

.pl-96 {
  padding-left: 96%;
}

.pr-96 {
  padding-right: 96%;
}

.pt-96 {
  padding-top: 96%;
}

.pb-96 {
  padding-bottom: 96%;
}

.m-97 {
  margin: 97%;
}

.ml-97 {
  margin-left: 97%;
}

.mr-97 {
  margin-right: 97%;
}

.mt-97 {
  margin-top: 97%;
}

.mb-97 {
  margin-bottom: 97%;
}

.p-97 {
  padding: 97%;
}

.pl-97 {
  padding-left: 97%;
}

.pr-97 {
  padding-right: 97%;
}

.pt-97 {
  padding-top: 97%;
}

.pb-97 {
  padding-bottom: 97%;
}

.m-98 {
  margin: 98%;
}

.ml-98 {
  margin-left: 98%;
}

.mr-98 {
  margin-right: 98%;
}

.mt-98 {
  margin-top: 98%;
}

.mb-98 {
  margin-bottom: 98%;
}

.p-98 {
  padding: 98%;
}

.pl-98 {
  padding-left: 98%;
}

.pr-98 {
  padding-right: 98%;
}

.pt-98 {
  padding-top: 98%;
}

.pb-98 {
  padding-bottom: 98%;
}

.m-99 {
  margin: 99%;
}

.ml-99 {
  margin-left: 99%;
}

.mr-99 {
  margin-right: 99%;
}

.mt-99 {
  margin-top: 99%;
}

.mb-99 {
  margin-bottom: 99%;
}

.p-99 {
  padding: 99%;
}

.pl-99 {
  padding-left: 99%;
}

.pr-99 {
  padding-right: 99%;
}

.pt-99 {
  padding-top: 99%;
}

.pb-99 {
  padding-bottom: 99%;
}

.m-100 {
  margin: 100%;
}

.ml-100 {
  margin-left: 100%;
}

.mr-100 {
  margin-right: 100%;
}

.mt-100 {
  margin-top: 100%;
}

.mb-100 {
  margin-bottom: 100%;
}

.p-100 {
  padding: 100%;
}

.pl-100 {
  padding-left: 100%;
}

.pr-100 {
  padding-right: 100%;
}

.pt-100 {
  padding-top: 100%;
}

.pb-100 {
  padding-bottom: 100%;
}

.body_backgroundcolor {
  background-color: bisque;
}

.body_color {
  color: rgb(0, 92, 128);
}/*# sourceMappingURL=main.css.map */