@for $percentage from 1 through 100 {
  .m-#{$percentage} {
    margin: $percentage * 1%;
  }
  .ml-#{$percentage} {
    margin-left: $percentage * 1%;
  }
  .mr-#{$percentage} {
    margin-right: $percentage * 1%;
  }
  .mt-#{$percentage} {
    margin-top: $percentage * 1%;
  }
  .mb-#{$percentage} {
    margin-bottom: $percentage * 1%;
  }
  .p-#{$percentage} {
    padding: $percentage * 1%;
  }
  .pl-#{$percentage} {
    padding-left: $percentage * 1%;
  }
  .pr-#{$percentage} {
    padding-right: $percentage * 1%;
  }
  .pt-#{$percentage} {
    padding-top: $percentage * 1%;
  }
  .pb-#{$percentage} {
    padding-bottom: $percentage * 1%;
  }
}
.body_backgroundcolor {
  background-color: bisque;
}
.body_color {
  color: rgb(0, 92, 128);
}
